@using Microsoft.AspNetCore.Identity
@using Venezia.Areas.Identity.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Venezia</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="~/">Accueil</a>
        <a class="p-2 text-dark" asp-controller="Cars" asp-action="Index">Voitures</a>
        <a class="p-2 text-dark" asp-controller="Cars" asp-action="Create">Ajouter</a>
        <a class="p-2 text-dark" asp-controller="Fuels" asp-action="Index">Carburants</a>
        <a class="p-2 text-dark" asp-route="BasketUrl">Mon panier</a>
        <a class="p-2 text-dark" asp-route="RouteAbout">A propos</a>
    </nav>




    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
        <username></username>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }

    </ul>
    
</div>